@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --h-height: 90px;
    --f-height: 250px;
    --transition: 300ms ease;
    --color-1: #111111;
    --color-1-rgb: 17 17 17;
    --color-2: #ffffff;
    --color-2-rgb: 255 255 255;
    @media (max-width: 991px){
        --f-height: 200px;
    }
    @media (max-width: 767px){
        --h-height: 60px;
        --f-height: 180px;
    }
    @media (max-width: 575px){
        --f-height: 150px;
    }
}
// "homepage": "https://ngf93.github.io/cosmetics",

@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin link {
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 1px;
        background-color: currentColor;
        width: 0px;
        transition: var(--transition);
    }
    &:hover, &:focus, &:active {
        &::before {width: 100%;}
    }
}

a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
p, label, span, a, form, fieldset, legend, select, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li {
    line-height: 150%;
    margin-bottom: 0px;
}


input, textarea, select {
    border: none;
    border-bottom: 1px solid var(--color-1);
    background-color: transparent;
    color: var(--color-1);
    border-radius: 0px;
    padding: .5em 0;
    width: 100%;
    line-height: 120%;
    outline: none;
    display: block;
    transition: var(--transition);
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: rgb(var(--color-1-rgb) / 50%);
        font-weight: 300;
    }
    &::placeholder {
        color: rgb(var(--color-1-rgb) / 50%);
        font-weight: 300;
    }
    &.inverse {
        border-bottom: 1px solid var(--color-2);
        color: var(--color-2);
        &:-moz-placeholder, &::-moz-placeholder,
        &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {color: rgb(var(--color-2-rgb) / 50%);}
        &::placeholder {
            color: rgb(var(--color-2-rgb) / 50%);
        }
    }
}
input[type='number']{
    border: 1px solid var(--color-1);
    padding: .5em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    @include no-appearance();
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
    cursor: pointer;
}
.btn {
    @include flex-center;
    padding: 1em 1.5em;
    text-align: center;
    transition: var(--transition);
    width: fit-content;
    font-size: 1em;
    line-height: 120%;
    font-weight: 400;
    &-1 {
        @extend .btn;
        background: rgb(var(--color-1-rgb) / 100%);
        color: var(--color-2);
        &:hover, &:focus, &:active, &.active {
            color: var(--color-2);
            background: rgb(var(--color-1-rgb) / 75%);
        }
        &:disabled {
            opacity: .5;
        }
    }
}

form.search {
    position: relative;
    input {
        position: relative;
        z-index: 1;
    }
    button {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        z-index: 2;
        svg {transition: var(--transition);}
        &:hover, &:focus {
            svg {stroke-width: 1px;}
        }
    }
}

h1 {
    font-size: 1.8em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1em;
}
h3 {
    font-size: 1.25em;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1em;
}
h4 {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5em;
}
h5 {
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin-bottom: .25em;
}
h6 {
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    margin-bottom: .25em;
}
.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}


.container {
    max-width: 90%;
}
.full-h {height: 100vh;}
.mb-8 {
    margin-bottom: 8em;
    @media (max-width: 991px){
        margin-bottom: 6em;
    }
    @media (max-width: 767px){
        margin-bottom: 4em;
    }
}

.accordion {
    --bs-accordion-color: var(--color-1);
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-btn-color: var(--color-1);
    --bs-accordion-btn-icon: unset;
    --bs-accordion-btn-active-icon: unset;
    --bs-accordion-btn-focus-border-color: unset;
    --bs-accordion-btn-padding-x: 0px;
    --bs-accordion-btn-padding-y: .5em;
    --bs-accordion-btn-focus-box-shadow: unset;
    --bs-accordion-active-color: var(--color-1);
    --bs-accordion-active-bg: var(--color-2);
    h2 {font-size: 1em;}
    &-button {
        font-size: 1.4em;
        @media (max-width: 767px){
            font-weight: 500;
            font-size: 1.75em;
        }
    }
}


body {
    margin: 0;
    font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-1);
    background-color: var(--color-2);
    @media (max-width: 1399px){
        font-size: 15px;
    }
    @media (max-width: 767px){
        font-size: 14px;
    }
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1200;
    height: var(--h-height);
    background-color: rgb(var(--color-2-rgb) / 85%);
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            ul {
                display: flex;
                li {
                    &:not(:first-child){margin-left: 2em;}
                    button {
                        @include link();
                    }
                }
            }
        }
        .btn-cart {
            display: block;
            position: relative;
            width: 2em;
            height: 2em;
            background: url(imgs/bag-icon.png) no-repeat center;
            background-size: contain;
            @media (max-width: 767px){
                width: 2.5em;
                height: 2.5em;
            }
            // svg {
            //     position: relative;
            //     z-index: 2;
            //     font-size: 2em;
            //     @media (max-width: 767px){
            //         font-size: 2.5em;
            //     }
            // }
            span {
                position: absolute;
                z-index: 1;
                bottom: 5%;
                left: 0%;
                width: 100%;
                font-size: .75em;
                font-weight: 500;
                @media (max-width: 767px){
                    font-size: .9em;
                }
            }
        }
        .btn-menu {
            font-size: 2.5em;
        }
    }
}

.offcanvas {
    &.offcanvas-end {
        border: none;
        width: 900px;
        z-index: 1200;
        @media (max-width: 991px){
            width: 750px;
        }
    }
    &.offcanvas-start {
        @media (max-width: 767px){
            width: 100%;
        }
        .offcanvas-body {
            padding: calc(var(--h-height) + 2em) 3em 2em;
        }
    }
    &-body {
        padding: 2em 3em;
        position: relative;
        @media (max-width: 575px){
            padding: 1em 1.5em;
        }
        .close {
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 1.5em;
            opacity: .5;
            transition: var(--transition);
            &:hover, &:focus, &:active {
                opacity: 1;
            }
        }
    }
}
.shop-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    .flags {
        list-style: none;
        padding-left: 0px;
        display: flex;
        align-items: center;
        margin-top: 1.5em;
        @media (max-width: 767px){
            display: none;
        }
        li{
            &:not(:first-child) {margin-left: 1.5em;}
            button {
                width: 2.5em;
                img {width: 100%;}
            }
        }
    }
}


.cart {
    &-item {
        display: grid;
        grid-template-columns: auto 60px 100px 80px 50px;
        grid-template-rows: 1fr;
        gap: 0px 20px;
        padding: 1em 0px;
        @media (max-width: 767px){
            grid-template-columns: auto 60px 60px;
            grid-template-rows: auto;
            gap: 10px 20px;
        }
        @media (max-width: 575px){
            gap: 10px 10px;
        }
        &:not(:last-child){
            border-bottom: 1px solid var(--color-1);
        }
        &:first-child {
            padding: 1.5em 0px;
            @media (max-width: 767px){
                padding: 1em 0px;
                .title {
                    grid-column: 1/4;
                    font-weight: 700;
                    font-size: 1.3em;
                }
                .img, .count, .price, .btns {display: none;}
            }
        }
        &:last-child {
            padding: 1.5em 0px;
            @media (max-width: 767px){
                padding: 1em 0px;
                .title {
                    grid-column: 1/4;
                    padding-bottom: 1em;
                    border-bottom: 1px solid var(--color-1);
                }
                .img, .btns {display: none;}
                .count {
                    grid-column: 1/3;
                    font-weight: 700;
                }
                .price {font-weight: 700;}
            }
        }
        .title {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            align-items: center;
        }
        .img {
            grid-column: 2/3;
            grid-row: 1/2;
            @include flex-center();
            img {
                width: 100%;
                height: 60px;
                object-fit: cover;
            }
        }
        .count {
            grid-column: 3/4;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            @media (max-width: 767px){
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
        .price {
            grid-column: 4/5;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            @media (max-width: 767px){
                grid-column: 3/4;
                grid-row: 2/3;
            }
        }
        .btns {
            grid-column: 5/6;
            grid-row: 1/2;
            @include flex-center();
            font-size: 1.2em;
            @media (max-width: 767px){
                grid-column: 3/4;
            }
        }
    }
}

main {
    min-height: calc(100vh - var(--f-height));
    &.inner {
        padding-top: calc(var(--h-height) + 1em);
    }
    @media (max-width: 767px){}
}

.logo {
    width: 110px;
    height: 80px;
    @media (max-width: 767px){
        width: 80px;
        height: 60px;
    }
}

figure.full {
    position: relative;
    height: 100vh;
    width: 100%;
    img.main {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    figcaption {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 40%;
        z-index: 2;
        @media (max-width: 767px){
            height: 25%;
        }
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.product-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    figure {
        width: 100%;
        opacity: 1;
        transition: var(--transition);
        &:hover {
            opacity: .75;
        }
        img {
            width: 100%;
            height: 20vw;
            object-fit: cover;
            margin-bottom: 1em;
        }
        figcaption {
            text-align: center;
        }
    }
}
.product-page {
    .info-list {
        list-style: none;
        padding-left: 0px;
        li {
            margin-bottom: .5em;
            button {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid var(--color-1);
                padding: .5em 0;
            }
        }
    }
}

.about-page {
    p {margin-top: 2em;}
}

footer {
    &.desktop {
        padding: 2em 0;
        height: var(--f-height);
        background-color: var(--color-1);
        color: var(--color-2);
        font-size: .9em;
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }
        nav {
            ul {
                display: flex;
                align-items: center;
                li {
                    &:not(:first-child){margin-left: 1.5em;}
                    a {
                        @include link();
                    }
                }
            }
        }
    }
    &.mobile {
        display: flex;
        flex-direction: column;
        min-height: var(--f-height);
        font-size: .9em;
        &>div {
            border-top: 1px solid #dedede;
            padding: 1.25em 10%;
            flex-grow: 1;
            @media (max-width: 575px){
                padding: 1em 5%;
            }
        }
        ul {
            li:not(:first-child) {margin-top: .5em;}
        }
    }
}